body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 10px 20px;
  position: sticky;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.information {
  padding: 20px;
}

.nav-buttons button {
  margin-left: 10px;
  padding: 8px 14px;
  border: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.nav-buttons button:hover {
  background-color: #777;
}

#movie-grid-container {     
   padding: 20px;
   width: 1500px;
   display: grid;
   grid-template-columns: auto auto auto;
}

#movie-grid-container > div {
   border: 1px solid black;
}

#grid-item-a {
   grid-column: 1 / 4;
}
